doctype html
head
    title Evaluator
    link(rel='stylesheet' type='text/css' href='/css/css.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lexend Deca')
    //favicon from https://iconos8.es/icon/RyzGypFMo2ly/van-gogh
    link(rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png")
    link(rel="manifest" href="manifest/site.webmanifest")
    link(rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
script(src='/js/jquery-3.6.0.min.js')
script(src="js/js.cookie.min.js")
script(src='/controllers/question.js')
script.
    $(document).ready(() => {initClient('#{qSession}');});
#evaluatorTitle.evaluatorTitle Evaluator
#mainContainer.mainContainer
    #contentContainer.contentContainer
        if type === 0
            #paintingContent
                img(src="content/" + content).paintingContent
        if type === 1
            button#playPauseButton(onclick='playPauseAudio()')
                img(src="icons/outline_play_circle_filled_black_24dp.png")#audioPlayIcon.audioContent
                img(src="icons/baseline_pause_circle_black_24dp.png" style='display: none;')#audioPauseIcon.audioContent
            audio#audioSource(src="content/" + content playsinline)
                p Your browser doesn't support HTML5 audio.
                    br
                    a(href="content/" + content) Here is a link to the audio instead.
            #progressBar.progressBar
        if type === 2
            #videoContent.videoContent
                .videoLabel
                    video#videoSource0.videoSource(src="content/" + content[0], muted=isMuted[0] playsinline)
                        p Your browser doesn't support HTML5 video.
                    br
                    | #{scaleLow}
                .videoLabel
                    video#videoSource1.videoSource(src="content/" + content[1] muted=isMuted[1] playsinline)
                        p Your browser doesn't support HTML5 video.
                    br
                    | #{scaleHigh}
            button#playPauseButton(onclick='playPauseVideo()')
                img(src="icons/outline_play_circle_filled_black_24dp.png")#audioPlayIcon.audioContent
                img(src="icons/baseline_pause_circle_black_24dp.png" style='display: none;')#audioPauseIcon.audioContent
            #progressBar.progressBar
        if type === 3
            #paintingContent
                .paintingLabel
                    img(src="content/" + content[0]).paintingContentSBS
                    br
                    | #{scaleLow}
                .paintingLabel
                    img(src="content/" + content[1]).paintingContentSBS
                    br
                    | #{scaleHigh}
            button#playPauseButton(onclick='playPauseAudio()')
                img(src="icons/outline_play_circle_filled_black_24dp.png")#audioPlayIcon.audioContent
                img(src="icons/baseline_pause_circle_black_24dp.png" style='display: none;')#audioPauseIcon.audioContent
            audio#audioSource(src="content/" + content[2] playsinline)
                p Your browser doesn't support HTML5 audio.
                    br
                    a(href="content/" + content[2]) Here is a link to the audio instead.
            #progressBar.progressBar
    #questionContainer.questionContainer
        .question #{question}
        if type === 0 || type === 1
            form#radioForm.radioForm(action='')
                label
                    input(type='radio' name='radioForm' value='1' onclick='onFormClick()')
                    | #{scaleLow}
                label
                    input(type='radio' name='radioForm' value='2' onclick='onFormClick()')
                    | 2
                label
                    input(type='radio' name='radioForm' value='3' onclick='onFormClick()')
                    | 3
                label
                    input(type='radio' name='radioForm' value='4' onclick='onFormClick()')
                    | 4
                label
                    input(type='radio' name='radioForm' value='5' onclick='onFormClick()')
                    | 5
                label
                    input(type='radio' name='radioForm' value='6' onclick='onFormClick()')
                    | 6
                label
                    input(type='radio' name='radioForm' value='7' onclick='onFormClick()')
                    | #{scaleHigh}
        if type === 2 || type === 3
            form#radioForm.radioForm(action='')
                label
                    input(type='radio' name='radioForm' value='1' onclick='onFormClick()')
                    | #{scaleLow}
                label
                    input(type='radio' name='radioForm' value='2' onclick='onFormClick()')
                    | #{scaleHigh}
        button#submitAnswerButton(onclick='submitAnswer()') Submit answer
.questionId Questions: #{qId}
#qSessionId.qSessionId
#cSessionId.cSessionId
.contactInformation t.m.w.fink@students.uu.nl
#confirmationContainer.confirmationContainer
    .thankYouTitle Thank You!
    img(src="img/draw-soft-and-cute-cartoon-animals.jpg").paintingContent
    .thankYouMsg Your submission is very much appreciated :)
    button#getNextQuestionButton(onclick='nextQuestion()')
        span#getNextQuestionButtonText Give me another one! (
        span#getNextQuestionButtonTextCountDown 5)